---
const { title, description, date, company, link } = Astro.props;
---

<div class="box-border bg-[#232323] py-10 px-5">
  <h3 class="text-3xl font-bold">
    {title} at <span class="font-extralight text-[#ff7f71]">
      <a href={link} target="_blank">{company}</a>
    </span>
  </h3>
  <time class="text-sm leading-none font-light italic">{date}</time>
  <p class="text-pretty">{description}</p>
</div>
