---
import Unity from "../icons/UnityIcon.astro";
import CSharp from "../icons/CSharpIcon.astro";
import Java from "../icons/JavaIcon.astro";
import IntelliJ from "../icons/IntelliJIcon.astro";
import Android from "../icons/AndroidIcon.astro";
import VisualStudio from "../icons/VisualStudioIcon.astro";
import GitHub from "../icons/GitHub.astro";
import Itchio from "../icons/Itchio.astro"
import Curseforge from "../icons/Curseforge.astro"
import Carousel from "./Carousel.astro";

export const TAGS = {
  UNITY: {
    name: "Unity",
    class: "text-white",
    image: Unity,
  },
  CSharp: {
    name: "C#",
    class: "text-white",
    image: CSharp,
  },
  GooglePlay: {
    name: "Google Play",
    class: "text-white",
    image: Android,
  },
  Java: {
    name: "Java",
    class: "text-white",
    image: Java,
  },
  IntelliJ: {
    name: "IntelliJ",
    class: "text-white",
    image: IntelliJ,
  },
  VisualStudio: {
    name: "Visual Studio",
    class: "text-white",
    image: VisualStudio,
  },
  GitHub: {
    name: "Github",
    class: "text-white",
    image: GitHub,
  },
  Itchio: {
    name: "Itch.io",
    class: "text-white",
    image: Itchio,
  },
  Curseforge: {
    name: "Curseforge",
    class: "text-white",
    image: Curseforge,
  },
};

export const PROJECTS = [
  {
    title: "DRuedaM's Expansion Craft",
    description: "The DRuedaM's Expansion Craft adds a lot of content!",
    link: "https://www.curseforge.com/minecraft/mc-mods/druedams-expansion-craft",
    tags: [TAGS.Curseforge,TAGS.Java, TAGS.IntelliJ, TAGS.GooglePlay, TAGS.GitHub],
    image: '../assets/expansion-craft/expansioncraft.png',
    images: ['../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap2.png','../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap1.png'],
  },
  {
    title: "Pierre Le Mystere",
    description:
      "Put yourself in the shoes of a spy in a secret mission on an unexpected destination, the nearest coffee shop!",
    link: "https://creative-worlds.itch.io/pierrelemystere",
    tags: [TAGS.Itchio,TAGS.UNITY, TAGS.CSharp, TAGS.VisualStudio, TAGS.GitHub],
    image: '../assets/pierre-le-mystere/Pierrelemystere.png',
    images: ['../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap2.png','../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap1.png'],  },
  {
    title: "Clicky Marbles",
    description:
      "Compra mejoras, personaliza tu entorno de juego, mira la colección, desbloquea canicas raras y especiales para disfrutar jugando y relajarte!",
    link: "https://play.google.com/store/apps/details?id=com.CreativeWorlds.MarbleAnmals&hl=es&gl=US",
    tags: [TAGS.GooglePlay,TAGS.UNITY, TAGS.CSharp, TAGS.VisualStudio, TAGS.GitHub],
    image: '../assets/clicky-marbles/cap1.png',
    images: ['../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap2.png','../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap1.png'],
  },
  {
    title: "The defense of the geometry",
    description: "Defend the perfect shape, the triangle",
    link: "https://creative-worlds.itch.io/the-defense-of-the-geometry",
    tags: [TAGS.Itchio,TAGS.UNITY, TAGS.CSharp, TAGS.VisualStudio, TAGS.GitHub],
    image: '../assets/defense-geometry/thedefenseofthegeometry.png',
    images: ['../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap2.png','../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap1.png'],
  },
];


---
{
  PROJECTS.map(({title, description, tags, link, image }) => (
    
    <article class="h-96 my-4 flex items-center justify-around w-full bg-[#232323] ">
      <div class="p-10 justify-center flex w-[50rem]">
        <img
          class="" 
          src={image} 
          alt="Foto" 
          loading="lazy">
      </div>
      <!--<Carousel images={images}/>-->
      <div class="w-[50rem] p-10">
        <h3 class="text-center text-4xl font-bold text-[#fee100] mb-10">{title}</h3>
          <ul class="flex justify-center">
              {tags.map((tag) => (
                <li>
                  <span
                    class=" whitespace-nowrap max-w-full flex gap-x-2 rounded-full p-3 mr-4 border-2 border-[#ff7f71]"
                  >
                    <tag.image class="size-5 fill-[#ff7f71]" />
                    <p class="align-middle text-sm">{tag.name}</p> 
                  </span>
                </li>
              ))}
            </ul>
        <div class="p-10">
          <p class="flex text-justify justify-center text-pretty">{description}</p>
        </div>
          <a href={link} target="_blank" class= "rounded-full  border-[#fee100] border-2 flex justify-center items-center
gap-x-2 py-3 px-5 bg-white/5 hover:scale-105 hover:bg-[#fee100] transition hover:text-black">
            Link
            </a>
      
      </div>
    </article>
    ))
  }