---
import Unity from "../icons/UnityIcon.astro";
import CSharp from "../icons/CSharpIcon.astro";
import Java from "../icons/JavaIcon.astro";
import IntelliJ from "../icons/IntelliJIcon.astro";
import Android from "../icons/AndroidIcon.astro";
import VisualStudio from "../icons/VisualStudioIcon.astro";
import GitHub from "../icons/GitHub.astro";
import Itchio from "../icons/Itchio.astro"
import Curseforge from "../icons/Curseforge.astro"
import Carousel from "./Carousel.astro";
import LinkIcon from "../icons/LinkIcon.astro";
import InfoIcon from "../icons/InfoIcon.astro"


export const TAGS = {
  UNITY: {
    name: "Unity",
    class: "text-white",
    image: Unity,
  },
  CSharp: {
    name: "C#",
    class: "text-white",
    image: CSharp,
  },
  GooglePlay: {
    name: "Google Play",
    class: "text-white",
    image: Android,
  },
  Java: {
    name: "Java",
    class: "text-white",
    image: Java,
  },
  IntelliJ: {
    name: "IntelliJ",
    class: "text-white",
    image: IntelliJ,
  },
  VisualStudio: {
    name: "Visual Studio",
    class: "text-white",
    image: VisualStudio,
  },
  GitHub: {
    name: "Github",
    class: "text-white",
    image: GitHub,
  },
  Itchio: {
    name: "Itch.io",
    class: "text-white",
    image: Itchio,
  },
  Curseforge: {
    name: "Curseforge",
    class: "text-white",
    image: Curseforge,
  },
};

export const PROJECTS = [
  {
    title: "DRuedaM's Expansion Craft",
    description: "A minecraft mod for the Java version 1.20.1, published on Curseforge",
    link: "https://www.curseforge.com/minecraft/mc-mods/druedams-expansion-craft",
    tags: [TAGS.Curseforge,TAGS.Java, TAGS.IntelliJ, TAGS.GitHub],
    image: '../assets/expansion-craft/expansioncraft.png',
    infopage: '',
    images: ['../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap2.png','../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap1.png'],
  },
  {
    title: "Pierre Le Mystere",
    description:
      "A Jam game created in 4 days submitted for the Jame Gam #38",
    link: "https://creative-worlds.itch.io/pierrelemystere",
    tags: [TAGS.Itchio,TAGS.UNITY, TAGS.CSharp, TAGS.VisualStudio, TAGS.GitHub],
    image: '../assets/pierre-le-mystere/Pierrelemystere.png',
    infopage: '',
    images: ['../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap2.png','../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap1.png'],  },
  {
    title: "Clicky Marbles",
    description:
      "A casual/clicker game where you need to collect all the marbles. Published on Google Play",
    link: "https://play.google.com/store/apps/details?id=com.CreativeWorlds.MarbleAnmals&hl=es&gl=US",
    tags: [TAGS.GooglePlay,TAGS.UNITY, TAGS.CSharp, TAGS.VisualStudio, TAGS.GitHub],
    image: '../assets/clicky-marbles/cap1.png',
    infopage: '',
    images: ['../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap2.png','../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap1.png'],
  },
  {
    title: "The defense of the geometry",
    description: "A 2D shooter about surviving the geometrical shape enemies",
    link: "https://creative-worlds.itch.io/the-defense-of-the-geometry",
    tags: [TAGS.Itchio,TAGS.UNITY, TAGS.CSharp, TAGS.VisualStudio, TAGS.GitHub],
    image: '../assets/defense-geometry/thedefenseofthegeometry.png',
    infopage: '',
    images: ['../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap2.png','../assets/clicky-marbles/cap1.png','../assets/clicky-marbles/cap1.png'],
  },
];


---
{
  PROJECTS.map(({title, description, tags, link, image, infopage }) => (
    
    <article class="md:h-96 my-4 lg:flex flex-row items-center justify-around w-full bg-[#232323] ">
      <div class="p-10 justify-center flex md:w-[50rem]">
        <img
          class="" 
          src={image} 
          alt="Foto" 
          loading="lazy">
      </div>
      <!--<Carousel images={images}/>-->
      <div class="md:w-[50rem] p-10">
        <h3 class="text-center lg:text-4xl text-3xl font-bold text-[#fee100] mb-10">{title}</h3>
          <ul class="flex justify-center md:flex-nowrap md:gap-0 gap-2 p-2 md:static relative items-center flex-wrap">
              {tags.map((tag) => (
                <li>
                  <span
                    class="md:whitespace-nowrap md:max-w-full flex md:gap-x-2 rounded-full md:p-3 p-2 md:mr-4 border-2 border-[#ff7f71]"
                  >
                    <tag.image class="md:size-5 size-4 fill-[#ff7f71]" />
                    <p class="align-middle md:text-sm text-xs md:px-0 px-5">{tag.name}</p> 
                  </span>
                </li>
              ))}
            </ul>
        <div class="p-10">
          <p class="flex text-justify justify-center text-pretty lg:text-xl">{description}</p>
        </div>
        <div class="flex justify-center">
          <a href={link} target="_blank" class= "font-bold rounded-md  border-white/10 border-2 flex text-center justify-center items-center
            gap-x-2 sm:py-3 sm:px-5 py-2 px-4 text-xl  md:hover:scale-105 md:bg-white/5 md:hover:bg-[#fee100] bg-[#fee100] md:transition md:text-white md:hover:text-black text-black w-40">
            <span class="text-xl">See</span> 
            <LinkIcon></LinkIcon>
          </a>

          <a href={infopage} target="_blank" class= "ml-10 font-bold rounded-md  md:border-white/10 md:border-2 flex text-center justify-center items-center
            gap-x-2 py-3 px-3  md:hover:scale-105 md:bg-white/5 md:hover:bg-[#ff7f71] md:transition bg-[#ff7f71]  w-40">
            <span class="text-xl"><span class="sm:flex hidden">+</span> info</span> 
            <InfoIcon></InfoIcon>
          </a>
        </div>
          
      
      </div>
    </article>
    ))
  }